html,body{
	
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	overflow-x:hidden;
	
}

header{
	max-width:100vw;
	max-height:60vh;
	width:100vw;
	height:20vh;
	
	background: linear-gradient(#DFD7A2, #E5E7F6, #A8ADE1);
	
	background:#3BB9C4;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	
	border-bottom-color:white;
	border-bottom-style:solid;
	border-bottom-width:10px;
	
	
}
header>div{
	padding:40px;
	margin-left:20px;
	
	width:100px;
	
}
a{
	padding:15px;
	font-size:25px;
	color:white;
	text-decoration:none;

}
a:hover{
	background:#C4463B;
	border-radius:10px;

}
.sec1{
	max-width:100vw;
	max-height:30vh;
	width:100vw;
	height:7vh;
	background:#C4463B;
	display:flex;
	
	justify-content:center;
	align-items:center;
	
}
#logo{
	
	position:absolute;
	left:150px;
	top:30px;
}
#myportfolio{
	font-size:20px;
	font-family:Futura PT;
	color:white;
}
.sec2{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:70vh;
	background:red;
	
	display:flex;
	justify-content:space-between;
	/*flex-wrap:wrap;*/
	padding-top:20px;

}

#content1{
	width:45vw;
	height:55vh;
	padding:50px;
	/*background:#3BB9C4;*/
	color:#3b3c36;
	
	text-align:left;
	border-radius:20px;
	margin-left:10px;
	font-size:25px;
	letter-spacing:4px;
	
}

#myphoto{
	width:30vw;
	height:60vh;
	background-image:url("BENSONEE.png");
	background-size:20vw 40vh;
	background-position:center;
	margin-right:80px;
	display:flex;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-color:#F5F7F6;
	justify-content: center;
    align-items: center;
	
	border-bottom-color:#3BB9C4;
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-radius:20px;
	position:relative;
	top:10px;
	
}
#myphoto >h2{
	align-self:flex-end;
	color:#C4463B;
	font-size:35px;
}

.sec3{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:80vh;
	background:#3BB9C4;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
	padding-top:20px;

}
.sec3>div{
	padding:50px;
}
/*
#inner{
	
	width:96vw;
	height:70vh;
	background:#3BB9C4;
	border-radius:10px;
	font-size:25px;
	letter-spacing:4px;
	margin:50px;
	padding:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	

}
*/
.sec4{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:50vh;
	background:white;
	display:flex;
	flex-wrap:wrap;
	
	

}

#inner2{
	
	width:96vw;
	height:40vh;
	background:#3BB9C4;
	border-radius:10px;
	font-size:25px;
	letter-spacing:4px;
	margin:50px;
	padding:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	

}
#intouch>button{
	width:250px;
	background:#C4463B;
	height:80px;
	color:white;
	font-size:20px;
}
#intouch>a{
	width:250px;
	background:#C4463B;
	height:80px;
	color:white;
	font-size:20px;
}
.sec5{
	max-width:100vw;
	max-height:110vh;
	width:100vw;
	height:90vh;
	background:white;
	justify-content:space-around;
	display:flex;
	flex-wrap:wrap;
	

}
#inner3{
	
	width:96vw;
	height:60vh;
	background:white;
	border-radius:10px;
	font-size:25px;
	letter-spacing:4px;
	margin:50px;
	padding:20px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
#mostinner{
	padding:15px;
}
.footer{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:70vh;
	background:#3BB9C4;
	justify-content:center;
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	
}
 #cont1{
    display:flex;
	flex-direction:column;
	position:absolute;
	margin-top:40px;
	width:100vw;
	height:50vh;
	background:pink;
	justify-content:center;
	align-items:center;
	
  }
   #cont2{
     display:flex;
	 flex-direction:column;
	 width:50vw;
	 height:50vh;
	 margin-top:40px;
	 background:#333;
	 gap:1em;
  }
  #cont2>input{
  padding:10px;
  }
  


@media only screen and (max-width: 1226px){
		.sec2{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:70vh;
	background:red;
	
	display:flex;
	flex-wrap:wrap;
	/*flex-wrap:wrap;*/
	padding-top:20px;

}
#content1{
	width:45vw;
	height:55vh;
	padding:50px;
	/*background:#3BB9C4;*/
	color:#3b3c36;
	
	text-align:left;
	border-radius:20px;
	margin-left:10px;
	font-size:20px;
	letter-spacing:4px;
	
}
#myphoto{
	width:50vw;
	height:50vh;
	background-image:url("BENSONEE.png");
	background-size:40vw 50vh;
	background-position:center;
	margin-right:80px;
	display:flex;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-color:#F5F7F6;
	justify-content: center;
    align-items: center;
	
	border-bottom-color:#3BB9C4;
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-radius:20px;
	position:relative;
	top:10px;
	
}
#myphoto >h2{
	align-self:flex-end;
	color:#C4463B;
	font-size:35px;
}

}
@media only screen and (max-width: 760px){
		.sec2{
	max-width:100vw;
	max-height:200vh;
	width:100vw;
	height:150vh;
	background:red;
	
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	/*flex-wrap:wrap;*/
	padding-top:20px;

}
#content1{
	width:45vw;
	height:55vh;
	padding:50px;
	/*background:#3BB9C4;*/
	color:#3b3c36;
	
	text-align:left;
	border-radius:20px;
	margin-left:10px;
	font-size:20px;
	letter-spacing:4px;
	
	
}

}

@media only screen and (max-width: 324px) {
	.sec2{
	max-width:100vw;
	max-height:100vh;
	width:100vw;
	height:70vh;
	background:red;
	
	display:flex;
	justify-content:space-between;
	/*flex-wrap:wrap;*/
	padding-top:20px;

}
	
	#content1{
	width:70vw;
	height:140vh;
	padding:20px;
	text-align:center;
	font-size:25px;
	
	letter-spacing:2px;
	
}
#myphoto >h2{
	align-self:flex-end;
	color:#C4463B;
	font-size:15px;
}
#myphoto{
	width:70vw;
	height:50vh;
	background-image:url("BENSONEE.png");
	background-size:50vw 20vh;
	background-repeat:no-repeat;
	position:relative;
	top:10px;
	
}
.sec3{
	max-width:100vw;
	max-height:350vh;
	width:100vw;
	height:330vh;
	background:white;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	padding-top:20px;

}
#inner{
	
	width:96vw;
	height:300vh;
	background:#3BB9C4;
	border-radius:10px;
	font-size:20px;
	letter-spacing:4px;
	margin:5px;
	padding:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	

}
.sec4{
	max-width:100vw;
	max-height:300vh;
	width:100vw;
	height:140vh;
	background:white;
	display:flex;
	flex-wrap:wrap;
	
	

}

#inner2{
	
	width:96vw;
	height:110vh;
	background:#3BB9C4;
	border-radius:10px;
	font-size:20px;
	letter-spacing:4px;
	margin:50px;
	padding:10px;
	display:flex;
	flex-wrap:wrap;
	
	

}
#intouch>button{
	width:200px;
	background:#C4463B;
	height:50px;
	color:white;
	font-size:20px;
}
.sec5{
	max-width:100vw;
	max-height:300vh;
	width:100vw;
	height:250vh;
	background:white;
	justify-content:space-around;
	display:flex;
	flex-wrap:wrap;
	

}
#inner3{
	
	width:96vw;
	height:200vh;
	background:white;
	border-radius:10px;
	font-size:25px;
	letter-spacing:4px;
	margin:50px;
	padding:20px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
#mostinner{
	padding:15px;
}
.footer{
	max-width:200vw;
	max-height:300vh;
	width:100vw;
	height:50vh;
	background:#3BB9C4;
	justify-content:center;
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	
}

#form1{
	
	background:#C4463B;
	font-size:20px;
	color:white;
	width:90vw;
	height:40vh;
	display:flex;
	
}
#form1>form{
	padding:20px;
}
input{
	width:20vw;
	height:15px;
	font-size:20px;
}
textarea{
	width:200px;
	height:70px;
}
input[type=submit]{
	width:20vw;
	height:30px;
	font-size:10px;
}
}
